<nav>
  <header>
    <div>
      <img src="./logos/Letter.png" alt="">
      <p> Shopéame!</p>
    </div>

  </header>
  <div>
    <a [routerLink]="['/Home']" routerLinkActive="active">
      <img src="./logos/nuclear.png" alt="">
      Home
    </a>
    <a [routerLink]="['/Products']" routerLinkActive="active">
      <img src="./logos/prismaticos.png" alt="">
      Prods.
    </a>
    <a [routerLink]="['/Management']" routerLinkActive="active">
      <img src="./logos/timon.png" alt="">
      Gestión
    </a>
  </div>
</nav>
