div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #ffffff;
    p {
        font-size: 3em;
        text-transform: capitalize;
        color: #353333;
        &:active {
            text-decoration: underline #077abd;
        }
        &:hover {
            transition: 1s;
            color: #077abd;
        }
    }
    img {
        background: linear-gradient(90deg, #2979ff 0%, #4c589e 100%);
        border-radius: 10px;
        padding: 10px;
        width: 4rem;
        margin: 2rem;
    }
}

nav {
    background: #ffc970;
    display: flex;
    justify-content: center;
    img {
        background-image: #444444;
        width: 1em;
        margin: 0.2em 0.8em;
    }
    p {
        display: grid;
        justify-content: center;
        text-decoration: none;
        margin: 2em;
        color: #444444;
        font-size: 2em;
        &:active {
            text-decoration: underline #077abd;
        }
        &:hover {
            transition: 1s;
            color: #077abd;
        }
    }
}