
h1 {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    font: verdana;
}
.container{
    position: absolute;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}