

.container {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px black;
}

.title {
    width: 100%;
    font-family: verdana;
    padding-left: 25px;
}


.card {
    position: relative;
    width: 23%;
    margin: 5px;
    //float: left;
/* White 100% */
    background: #FFFFFF;
/* White 100% */
    
    border-radius: 4px;
}

img {
    position: relative;

    //left: 16px;
    //right: 16px;
    //top: 16px;

    //background: url(06.jpg);
    border-radius: 4px;
    height: 224px;
    margin: auto;
}

