<section class="container">
    <!--<div class="title">
        <h1>Productos (8)</h1>
        <div>
            <input type="text" [(ngModel)]="term">
            <div *ngFor = "let item of product |filter:term" >
            </div>
        </div>  
    </div>-->
    <div *ngFor="let item of product; let i = index" class="card">
            <img src="{{item.image}}" alt=""/>
            <p>{{item.description}}</p>
            <h3>$ {{item.price}} </h3>
            <p>{{item.name}}</p>
    </div>
</section>

