footer {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 250px;
    left: 0px;
    top: 700px;
    /*bottom: 0;*/
    margin-top: 90px;
    color: white;
    background-color: #333333;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 0.018em;
    font-weight: 500;
}
.footer-body {
  margin-top: 6%;
}

li {
  list-style: none;
  display: inline;
  padding-left: 3px;
  padding-right: 3px;
}

.ul-text {
  margin-bottom: 3%;
}

.enlace {
  text-decoration:none;
  color: white;
}
.copy {
  margin-top: 55px;
}