<footer>
  <div class="footer text-center">
    <div class="footer-body">
      <p>Siguenos en:</p>
      <nav>
        <div class="row">
          <ul class="ul-text">
            <li class="col s4">
              <a class="enlace" href="https://es.wikipedia.org/wiki/Twitter"
                >Twitter&nbsp;&nbsp;|</a
              >
            </li>
            <li class="col s4">
              <a class="enlace" href="https://es.wikipedia.org/wiki/Facebook"
                >Facebook&nbsp;&nbsp;|</a
              >
            </li>
            <li class="col s4">
              <a class="enlace" href="https://es.wikipedia.org/wiki/Instagram"
                >Instagram&nbsp;&nbsp;|</a
              >
            </li>
            <li class="col s4">
              <a class="enlace" href="https://es.wikipedia.org/wiki/TikTok"
                >TikTok</a
              >
            </li>
          </ul>
        </div>

        <p class="copy">Copyright Shopéame &copy; {{ today | date: "yyyy" }}</p>
        
      </nav>
    </div>
  </div>
</footer>
